name: build

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: build
    steps:
      - uses: azure/setup-helm@v4.3.1
        id: install
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.x'
      - name: build
        run: go build .
      - name: test
        run: go test -v ./...